@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
  margin: 0;
  font-family: 'Gamja Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f39f9d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
